fastapi<0.100
uvicorn
python-multipart
firebase-admin
python-jose
passlib[bcrypt]
python-dotenv
email-validator
pdfplumber
reportlab

sentence-transformers
scikit-learn
numpy==1.26.4

transformers

spacy==3.7.4
thinc==8.2.2
blis==0.7.11
pydantic>=1.10.14,<2.0