fastapi
uvicorn
python-multipart
firebase-admin
python-jose
passlib[bcrypt]
python-dotenv
email-validator
pdfplumber
reportlab
sentence-transformers
scikit-learn
numpy
spacy
transformers
spacy==3.7.4
pydantic==1.10.13